div.int_page img{
	width: 100%;
}

div#banner {
	text-align: center;
}

div#banner p {
	margin: auto;
	width: 50%;
	line-height: 1.25em;
}

div#archive_head {
	width: 96%;
	margin: auto;
	margin-bottom: 2em;
	margin-top: 1em;
}